.team-img-banner {
    width: 100%;
}
.team-container, .card-wrapper {
    background: rgb(255,160,0) !important;
    background: linear-gradient(0deg, rgb(14,67,122)  17%, rgb(28, 94, 165) 88%) !important;
}
.meet-the-team-hero > h1 {
    position: absolute;
    color: white;
    font-size: 7em;
    font-family: 'Poppins', sans-serif !important;
    z-index: 1;
}

@media screen and (max-width: 1400px){
    .meet-the-team-hero > h1 {
        font-size: 5.5em;
    }  
}
@media screen and (max-width: 1080px){
    .meet-the-team-hero > h1 {
        font-size: 4.5em;
    }  
}
@media screen and (max-width: 900px){
    .meet-the-team-hero > h1 {
        font-size: 3.5em;
    }  
}
@media screen and (max-width: 600px){
    .meet-the-team-hero > h1 {
        font-size: 2em;
    }  
}
@media screen and (max-width: 400px){
    .meet-the-team-hero > h1 {
        font-size: 1.5em;
    }  
}