.team-img-banner {
    width: 100%;
}
.card-wrapper {
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80') !important;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat !important;
} 
.meet-the-team-hero > h1 {
    position: absolute;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 7em;
    z-index: 1;
}
.team-img-banner {
    filter: brightness(50%);
}

@media screen and (max-width: 1024px){
    .meet-the-team-hero > h1 {
        font-size: 6em;
    }  
}
@media screen and (max-width: 800px){
    .meet-the-team-hero > h1 {
        font-size: 5em;
    }  
}
@media screen and (max-width: 700px){
    .meet-the-team-hero > h1 {
        font-size: 4em;
    }  
}