/* color vars */
:root {
    --main-bg-color: rgba(12, 65, 121, 0.990);
    --main-bg-color-dark: rgb(9, 50, 95);
    --main-hover-color: rgb(27, 75, 133);
    --main-font: 'Poppins', sans-serif;
}
* {
    font-family: var(--main-font);
}
.main-bg-color {
    background: var(--main-bg-color);
}
.rsva-logo {
    max-width: 2.5rem;
}
.nav-link, .nav-over, .navbar-brand {
    border-bottom: solid rgba(255, 255, 255, 0) .2rem;
    border-radius: .3rem !important;
    padding: .65rem;
    margin-left: 1.2rem;
}
.nav-over:hover {
    background: var(--main-hover-color);
    color: white !important;
}
.route-active {
    border-bottom: solid white .2rem;
    border-radius: 0rem !important;
    background: none !important;
}
.navbar-toggler {
    border: none;
    padding: .55rem;
}
.hero {
    max-width: 100%;
}

.footer-logo {
    max-width: 10vw
}
.footer-bottom {
    background: var(--main-bg-color-dark);
    padding: 8rem;
}



@media screen and (max-width: 991px) {
    .top-nav-link {
        margin-top: 1rem;
    }
    .nav-link {
        margin: .4rem;
    }
    .navbar {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .logo-wrapper {
        margin-left: 1.2rem;
    }
    .fa-bars {
        margin-right: 1.2rem;
    }
    .navbar-nav > li {
        text-align: center;
        border-top: solid var(--main-hover-color) .15rem;
    }
    .navbar-nav > li:hover {
        background: var(--main-hover-color);
    }
    .route-active {
        border-bottom: solid rgba(255, 255, 255, 0) .2rem;
    }
    .nav-over:hover {
        background: none;
    }
}